.card-container {
    text-align: center;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    flex-direction: column;
}

.login-card {
    width: 25%;
    padding: 2% 4% 2% 4%;
    margin: auto;
    text-align: left;
}

.dispNone {
    display: none;
 }

.dispBlock {
    display: block;
}

.required-warning {
    color: red;
 }